.page-section {

    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.5rem 0;
    }

    &-pb-0 {
        padding-bottom: 0;

        @mixin atLarge {
            padding: 4.5rem 0;
        }
    }
    
    &-blue {
        background-color: $mainBlue;
        color: #fff;
    }

    &-testimonials {
        background-color: #e0e6ef;
        @mixin atLarge {
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
    }
}
